@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Tenor+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.nav-bar {
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 112px;
  padding-top: 29px;
  background: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 1285px;
  margin: 0 auto;
}

.checkbox {
  display: none;
}

.check {
  display: none;
}

.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__item {
  margin-left: 80px;
}

.nav-bar__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.nav-bar__link:hover {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  text-decoration: underline;
  color: #767676;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 234px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

.project-info__title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 20px;
}

.project-info__info {
  width: 530px;
}

.project-info__texts {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 60px;
  border-bottom: 1px solid #000000;
}

.project-info__info-texts {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  padding: 6px 0 6px 11px;
  border-bottom: 1px solid #000000;
}

.project-info__img1 {
  width: 682px;
  height: 521px;
}

.project-image__image {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.project-image__texts {
  width: 921px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 80px;
}

.project-images__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
  gap: 20px;
}

.project-images__images-image1 {
  width: 616px;
  height: 569px;
}

.project-images__images-image2 {
  margin-top: 105px;
  width: 566px;
  height: 688px;
}

.main_image {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

#footer {
  background: #FBFBF9;
  padding-top: 60px;
}

.footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (minmax(227px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
  gap: 35px;
}

.footer-icons {
  margin-top: 16px;
  width: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-links__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 24px;
}

.footer-links__link {
  display: block;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */